.myswiper {
  initialslide: 2;
}
.swiper {
  width: 87.5%;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
}
.swiper-horizontal {
  width: 999px;
}

.swiper-slide {
  visibility: hidden;
  width: 333px !important;
  /* width: fit-content; */
  /* flex-shrink: 100 !important; */
  /* opacity: 0.5; */
}

.swiper-slide-active {
  visibility: visible;
  height: 491px;
  background-color: rgba(255, 255, 255, 8%);
  backdrop-filter: blur(5px);
}

.swiper-slide-next .button-offer,
.swiper-slide-prev .button-offer {
  display: none;
}

.swiper-slide-next {
  left: -48px;

  visibility: visible;
  opacity: 0.5;
  z-index: -1;
  height: 411px;
}
.swiper-slide-prev {
  right: -48px;
  visibility: visible;
  opacity: 0.5;

  height: 411px;
}

.swiper-button-prev {
  left: -10px;
  display: flex;
  width: 40px;
  height: 40px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="40" height="40" viewBox="0 0 16 16"%3E%3Cpath fill="white" fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"%2F%3E%3C%2Fsvg%3E');
}

.swiper-button-next {
  right: -10px;
  width: 40px;
  height: 40px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="40" height="40" viewBox="0 0 16 16"%3E%3Cpath fill="white" fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"%2F%3E%3C%2Fsvg%3E');
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

@media (max-width: 480px) {
  .swiper-horizontal {
    width: unset !important;
  }

  .swiper-button-prev {
    left: 5px;
  }

  .swiper-button-next {
    right: 5px;
  }
}

@media (max-width: 768px) {
}
